.infosContainer {
  .firstRow {
    font-family: $font-3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.82rem;
    margin-top: 1rem;
    margin-bottom: 0.71rem;

    .firstRowWrapper {
      display: flex;
      align-items: center;

      .infosSuperHost {
        font-weight: 700;
        font-size: 0.71rem;
        color: $grey-2;
        padding: 0.44rem 0.57rem 0.38rem 0.63rem;
        margin-right: 0.71rem;
        border: solid 1px $grey-2;
        border-radius: $borderRadius;
        -webkit-border-radius: $borderRadius;
        -moz-border-radius: $borderRadius;
        -ms-border-radius: $borderRadius;
        -o-border-radius: $borderRadius;
      }

      .infosLegends {
        font-weight: 500;
        font-size: 1rem;
        color: $grey-3;
      }
    }

    .infosRating {
      display: flex;
      align-items: center;
      font-weight: 500;
      font-size: 1rem;
      color: $grey-2;

      .infoRatingIcon {
        font-size: 1.14rem;
        color: $orange;
        margin-right: 0.45rem;

        svg {
          padding-top: 2px;
          vertical-align: text-top;
        }
      }
    }
  }
  .description {
    font-family: $font-3;
    font-weight: 600;
    font-size: 1rem;
    color: $grey-1;
  }
}
